In [59]:
import os
import json
import numpy
import datetime
import pandas as pd
import pprint 
import pymongo
from sqlalchemy import create_engine

In [60]:
host_name = "localhost"
port = "27017"

atlas_user_name = "ds2002"
atlas_password = "UVA1819"
atlas_cluster_name = "cluster0.xuibg2h.mongodb.net"
conn_str = {
    "local": f"mongodb://{host_name}:{port}/",
    "atlas": f"mongodb+srv://{atlas_user_name}:{atlas_password}@{atlas_cluster_name}/"
}

In [67]:
#Show dbs
connection_string = "mongodb+srv://ds2002:UVA1819@cluster0.xuibg2h.mongodb.net/"
client = pymongo.MongoClient(connection_string)
client.list_database_names()

['blog',
 'sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_guides',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'admin',
 'local']

In [68]:
#Use sample_mflix
db = client.sample_mflix

In [69]:
#Show collections
db.list_collection_names()

['users', 'comments', 'movies', 'theaters', 'sessions']

In [31]:
#Write a MongoDB query to display the total number of documents in the collection movies. db.movies.find().count()
db.movies.count_documents({})

23530

In [32]:
#Write a MongoDB query to display any 5 documents using pretty format in the collection db.movies.find().limit(5).pretty()

for movie in  db.movies.find().limit(5):
    pprint.pprint(movie)

{'_id': ObjectId('573a1390f29313caabcd4eaf'),
 'awards': {'nominations': 0, 'text': '1 win.', 'wins': 1},
 'cast': ['Jane Gail', 'Ethel Grandin', 'William H. Turner', 'Matt Moore'],
 'countries': ['USA'],
 'directors': ['George Loane Tucker'],
 'genres': ['Crime', 'Drama'],
 'imdb': {'id': 3471, 'rating': 6.0, 'votes': 371},
 'languages': ['English'],
 'lastupdated': '2015-09-15 02:07:14.247000000',
 'num_mflix_comments': 1,
 'plot': 'A woman, with the aid of her police officer sweetheart, endeavors to '
         'uncover the prostitution ring that has kidnapped her sister, and the '
         'philanthropist who secretly runs it.',
 'poster': 'https://m.media-amazon.com/images/M/MV5BYzk0YWQzMGYtYTM5MC00NjM2LWE5YzYtMjgyNDVhZDg1N2YzXkEyXkFqcGdeQXVyMzE0MjY5ODA@._V1_SY1000_SX677_AL_.jpg',
 'rated': 'TV-PG',
 'released': datetime.datetime(1913, 11, 24, 0, 0),
 'runtime': 88,
 'title': 'Traffic in Souls',
 'tomatoes': {'dvd': datetime.datetime(2008, 8, 26, 0, 0),
              'lastUpdated': datetime.datetime(2015, 8, 10, 18, 33, 55),
              'viewer': {'meter': 57, 'numReviews': 85, 'rating': 3.0}},
 'type': 'movie',
 'year': 1913}
{'_id': ObjectId('573a1390f29313caabcd548c'),
 'awards': {'nominations': 0, 'text': '2 wins.', 'wins': 2},
 'cast': ['Lillian Gish', 'Mae Marsh', 'Henry B. Walthall', 'Miriam Cooper'],
 'countries': ['USA'],
 'directors': ['D.W. Griffith'],
 'fullplot': 'Two brothers, Phil and Ted Stoneman, visit their friends in '
             'Piedmont, South Carolina: the family Cameron. This friendship is '
             'affected by the Civil War, as the Stonemans and the Camerons '
             'must join up opposite armies. The consequences of the War in '
             'their lives are shown in connection to major historical events, '
             "like the development of the Civil War itself, Lincoln's "
             'assassination, and the birth of the Ku Klux Klan.',
 'genres': ['Drama', 'History', 'Romance'],
 'imdb': {'id': 4972, 'rating': 6.8, 'votes': 15715},
 'lastupdated': '2015-09-11 00:32:27.763000000',
 'num_mflix_comments': 0,
 'plot': "The Civil War divides friends and destroys families, but that's "
         'nothing compared to the anarchy in the black-ruled South after the '
         'war.',
 'poster': 'https://m.media-amazon.com/images/M/MV5BYTM4ZDhiYTQtYzExNC00YjVlLTg2YWYtYTk3NTAzMzcwNTExXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SY1000_SX677_AL_.jpg',
 'rated': 'NOT RATED',
 'released': datetime.datetime(1915, 3, 3, 0, 0),
 'runtime': 165,
 'title': 'The Birth of a Nation',
 'tomatoes': {'consensus': 'Racial depictions aside, The Birth of a Nation is '
                           'a landmark film whose achievements and pioneering '
                           'techniques remain fully relevant today.',
              'critic': {'meter': 100, 'numReviews': 38, 'rating': 8.0},
              'dvd': datetime.datetime(2004, 6, 29, 0, 0),
              'fresh': 38,
              'lastUpdated': datetime.datetime(2015, 9, 10, 18, 30, 23),
              'production': 'Gravitas',
              'rotten': 0,
              'viewer': {'meter': 57, 'numReviews': 4358, 'rating': 3.2}},
 'type': 'movie',
 'writers': ['Thomas Dixon Jr. (adapted from his novel: "The Clansman: An '
             'Historical Romance of the Ku Klux Klan")',
             'Thomas Dixon Jr. (play)',
             'Thomas Dixon Jr. (novel)',
             'D.W. Griffith',
             'Frank E. Woods'],
 'year': 1915}
{'_id': ObjectId('573a1390f29313caabcd5ea4'),
 'awards': {'nominations': 0, 'text': '1 win.', 'wins': 1},
 'cast': ['Tyrone Power Sr.', 'Helen Riaume', 'Marie Walcamp', 'Cora Drew'],
 'countries': ['USA'],
 'directors': ['Phillips Smalley', 'Lois Weber'],
 'fullplot': 'While prosecuting a physician for the death of a client after an '
             'abortion, the district attorney discovers that his wife helped '
             'her society friends and the daughter of her maid obtain and pay '
             'for abortions from the physician (and was perhaps herself also a '
             'client.)',
 'genres': ['Drama'],
 'imdb': {'id': 7558, 'rating': 5.9, 'votes': 247},
 'languages': ['English'],
 'lastupdated': '2015-09-07 00:51:32.560000000',
 'num_mflix_comments': 0,
 'plot': "A District Attorney's outspoken stand on abortion gets him in "
         'trouble with the local community.',
 'rated': 'APPROVED',
 'released': datetime.datetime(1916, 5, 1, 0, 0),
 'runtime': 62,
 'title': 'Where Are My Children?',
 'tomatoes': {'lastUpdated': datetime.datetime(2015, 8, 6, 19, 49, 17),
              'production': 'MCA/Universal Pictures',
              'viewer': {'meter': 50, 'numReviews': 34, 'rating': 3.1}},
 'type': 'movie',
 'writers': ['Lucy Payton (from the story by)',
             'Franklin Hall (from the story by)',
             'Lois Weber',
             'Phillips Smalley'],
 'year': 1916}
{'_id': ObjectId('573a1390f29313caabcd6377'),
 'awards': {'nominations': 0, 'text': '1 win.', 'wins': 1},
 'cast': ['Douglas Fairbanks',
          'Eileen Percy',
          'Calvert Carter',
          'Charles Stevens'],
 'countries': ['USA'],
 'directors': ['John Emerson'],
 'fullplot': 'A rich young Easterner who has always wanted to live in "the '
             'Wild West" plans to move to a Western town. Unknown to him, the '
             'town\'s "wild" days are long gone, and it is an orderly, '
             'civilized place now. The townsmen, not wanting to lose a rich '
             'potential resident, contrive to make over the town to suit the '
             "young man's fantasy.",
 'genres': ['Comedy', 'Western', 'Romance'],
 'imdb': {'id': 8775, 'rating': 6.9, 'votes': 388},
 'languages': ['English'],
 'lastupdated': '2015-06-05 00:40:35.137000000',
 'num_mflix_comments': 0,
 'plot': 'A rich young Easterner who has always wanted to live in "the Wild '
         'West" plans to move to a Western town. Unknown to him, the town\'s '
         '"wild" days are long gone, and it is an orderly, ...',
 'released': datetime.datetime(1917, 6, 24, 0, 0),
 'runtime': 72,
 'title': 'Wild and Woolly',
 'type': 'movie',
 'writers': ['Horace B. Carpenter (story)', 'John Emerson', 'Anita Loos'],
 'year': 1917}
{'_id': ObjectId('573a1391f29313caabcd6d40'),
 'awards': {'nominations': 1, 'text': '1 nomination.', 'wins': 0},
 'cast': ['Harold Lloyd', 'Roy Brooks', 'Mildred Davis', 'Wallace Howe'],
 'countries': ['USA'],
 'directors': ['Hal Roach'],
 'fullplot': 'After a long wait, a young doctor finally has a patient come to '
             'his office. She is a young woman whose father has brought her to '
             'be treated for sleep-walking, but the father becomes annoyed '
             'with the doctor, and takes his daughter away. Soon afterward, '
             'the young doctor shares in a drinking binge with another doctor '
             'who has built a still in his office. After a series of '
             'misadventures, the two of them wind up in the same hotel where '
             'the daughter and her father are staying, leading to some '
             'hazardous predicaments.',
 'genres': ['Comedy', 'Short'],
 'imdb': {'id': 11293, 'rating': 7.0, 'votes': 646},
 'languages': ['English'],
 'lastupdated': '2015-08-11 00:35:33.717000000',
 'num_mflix_comments': 1,
 'plot': 'A tipsy doctor encounters his patient sleepwalking on a building '
         'ledge, high above the street.',
 'poster': 'https://m.media-amazon.com/images/M/MV5BODliMjc3ODctYjhlOC00MDM5LTgzNmUtMjQ1MmViNDQ0NzlhXkEyXkFqcGdeQXVyNTM3MDMyMDQ@._V1_SY1000_SX677_AL_.jpg',
 'rated': 'PASSED',
 'released': datetime.datetime(1920, 7, 11, 0, 0),
 'runtime': 26,
 'title': 'High and Dizzy',
 'tomatoes': {'lastUpdated': datetime.datetime(2015, 6, 27, 19, 17, 10),
              'viewer': {'meter': 70, 'numReviews': 30, 'rating': 3.4}},
 'type': 'movie',
 'writers': ['Frank Terry (story)', 'H.M. Walker (titles)'],
 'year': 1920}

In [33]:
#Write a MongoDB query to display 5 documents sorted by “title” using pretty format in the collection movies. db.movies.find().sort({"title":1}).limit(5).pretty()
for movie in db.movies.find().sort("title",1).limit(5):
    pprint.pprint(movie)

{'_id': ObjectId('573a13cef29313caabd86ecc'),
 'awards': {'nominations': 2, 'text': '2 nominations.', 'wins': 0},
 'cast': ['Lynn Hershman-Leeson'],
 'countries': ['USA'],
 'directors': ['Lynn Hershman-Leeson'],
 'fullplot': 'Through intimate interviews, provocative art, and rare, '
             'historical film and video footage, this feature documentary '
             'reveals how art addressing political consequences of '
             'discrimination and violence, the Feminist Art Revolution '
             'radically transformed the art and culture of our times.',
 'genres': ['Documentary'],
 'imdb': {'id': 1699720, 'rating': 6.7, 'votes': 142},
 'languages': ['English'],
 'lastupdated': '2015-04-02 00:54:39.997000000',
 'metacritic': 70,
 'num_mflix_comments': 1,
 'plot': 'Through intimate interviews, provocative art, and rare, historical '
         'film and video footage, this feature documentary reveals how art '
         'addressing political consequences of discrimination and ...',
 'poster': 'https://m.media-amazon.com/images/M/MV5BMjE1MDU1MDA2Nl5BMl5BanBnXkFtZTcwNTQ2Mzk2NQ@@._V1_SY1000_SX677_AL_.jpg',
 'released': datetime.datetime(2011, 6, 1, 0, 0),
 'runtime': 83,
 'title': '!Women Art Revolution',
 'tomatoes': {'boxOffice': '$51.5k',
              'consensus': 'Though a tad messy in spots, !Women Art Revolution '
                           'is a worthy chronicle of an influential art '
                           'movement seldom explored or documented.',
              'critic': {'meter': 83, 'numReviews': 24, 'rating': 6.9},
              'dvd': datetime.datetime(2012, 3, 19, 0, 0),
              'fresh': 20,
              'lastUpdated': datetime.datetime(2015, 7, 16, 18, 12, 36),
              'production': 'Zeitgeist Films',
              'rotten': 4,
              'viewer': {'meter': 60, 'numReviews': 203, 'rating': 3.7},
              'website': 'http://www.womenartrevolution.com/'},
 'type': 'movie',
 'year': 2010}
{'_id': ObjectId('573a13e6f29313caabdc56c7'),
 'awards': {'nominations': 2, 'text': '2 wins & 2 nominations.', 'wins': 2},
 'countries': ['USA', 'Syria'],
 'directors': ['Joe Piscatella'],
 'fullplot': 'From her childhood bedroom in the Chicago suburbs, an American '
             'teenage girl uses social media to run the revolution in Syria. '
             'Armed with Facebook, Twitter, Skype and cameraphones, she helps '
             'her social network in Damascus and Homs braves snipers and '
             'shelling in the streets and the world the human rights '
             'atrocities of one of the most brutal dictators. But as the '
             'revolution rages on, everyone in the network must decide what is '
             'the most effective way to fight a dictator: social media or '
             'AK-47s.',
 'genres': ['Documentary', 'Action', 'Drama'],
 'imdb': {'id': 3060338, 'rating': 7.1, 'votes': 77},
 'languages': ['English'],
 'lastupdated': '2015-09-01 00:08:44.710000000',
 'num_mflix_comments': 0,
 'plot': 'From her childhood bedroom in the Chicago suburbs, an American '
         'teenage girl uses social media to run the revolution in Syria. Armed '
         'with Facebook, Twitter, Skype and cameraphones, she helps...',
 'poster': 'https://m.media-amazon.com/images/M/MV5BMTgwODIxMjM3NV5BMl5BanBnXkFtZTgwMzYzODA2NjE@._V1_SY1000_SX677_AL_.jpg',
 'released': datetime.datetime(2014, 5, 18, 0, 0),
 'runtime': 74,
 'title': '#chicagoGirl: The Social Network Takes on a Dictator',
 'tomatoes': {'lastUpdated': datetime.datetime(2015, 9, 10, 19, 14, 36),
              'viewer': {'numReviews': 4, 'rating': 4.5}},
 'type': 'movie',
 'writers': ['Joe Piscatella'],
 'year': 2013}
{'_id': ObjectId('573a1396f29313caabce48c4'),
 'awards': {'nominations': 1, 'text': '1 nomination.', 'wins': 0},
 'cast': ['Warren Beatty', 'Goldie Hawn', 'Gert Frèbe', 'Robert Webber'],
 'countries': ['USA'],
 'directors': ['Richard Brooks'],
 'fullplot': 'Several criminals use safe deposit boxes in a German bank to '
             'store large amounts of illicit cash. An employee of the bank '
             'learns who they are by means of a prostitute they all patronize, '
             'and devises a clever plan with her to steal the money. Now the '
             "criminals can't go to the police, but they can try to steal the "
             'money back...',
 'genres': ['Comedy', 'Crime', 'Drama'],
 'imdb': {'id': 68152, 'rating': 6.5, 'votes': 1608},
 'languages': ['English', 'German'],
 'lastupdated': '2015-09-05 00:51:51.667000000',
 'num_mflix_comments': 0,
 'plot': 'A bank security expert plots with a call girl to rob three safety '
         'deposit boxes containing $1.5 million in cash belonging to three '
         'very different criminals from a high-tech security bank in Hamburg, '
         'Germany.',
 'poster': 'https://m.media-amazon.com/images/M/MV5BZTdkYmY1OGQtYTY5Yi00OWZhLWJjZDEtMDIwZjc4ZjI2ODA5L2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNzc5MjA3OA@@._V1_SY1000_SX677_AL_.jpg',
 'rated': 'R',
 'released': datetime.datetime(1971, 12, 17, 0, 0),
 'runtime': 121,
 'title': '$',
 'tomatoes': {'critic': {'meter': 83, 'numReviews': 6, 'rating': 6.4},
              'dvd': datetime.datetime(2008, 9, 23, 0, 0),
              'fresh': 5,
              'lastUpdated': datetime.datetime(2015, 9, 14, 22, 48, 32),
              'production': 'Sony Pictures Entertainment',
              'rotten': 1,
              'viewer': {'meter': 55, 'numReviews': 388, 'rating': 3.4}},
 'type': 'movie',
 'writers': ['Richard Brooks'],
 'year': 1971}
{'_id': ObjectId('573a13b8f29313caabd4bd33'),
 'awards': {'nominations': 4, 'text': '3 wins & 4 nominations.', 'wins': 3},
 'cast': ['Geoffrey Rush', 'Anthony LaPaglia', 'Samuel Johnson', 'Barry Otto'],
 'countries': ['Israel', 'Australia'],
 'directors': ['Tatia Rosenthal'],
 'fullplot': 'A stop-motion animated story about people living in a Sydney '
             'apartment complex looking for meaning in their lives.',
 'genres': ['Animation', 'Drama'],
 'imdb': {'id': 790799, 'rating': 6.7, 'votes': 2532},
 'languages': ['English'],
 'lastupdated': '2015-08-26 00:49:20.383000000',
 'metacritic': 68,
 'num_mflix_comments': 0,
 'plot': 'A stop-motion animated story about people living in a Sydney '
         'apartment complex looking for meaning in their lives.',
 'poster': 'https://m.media-amazon.com/images/M/MV5BMTMwNzM1MzE0Nl5BMl5BanBnXkFtZTcwOTA1NTQwMg@@._V1_SY1000_SX677_AL_.jpg',
 'rated': 'R',
 'released': datetime.datetime(2009, 9, 17, 0, 0),
 'runtime': 78,
 'title': '$9.99',
 'tomatoes': {'consensus': "Its storyline isn't as wondrous as its visuals, "
                           'but $9.99 has a sophistication and handmade charm '
                           'that sets it apart from the animated pack.',
              'critic': {'meter': 75, 'numReviews': 55, 'rating': 6.6},
              'dvd': datetime.datetime(2010, 2, 23, 0, 0),
              'fresh': 41,
              'lastUpdated': datetime.datetime(2015, 9, 12, 18, 1, 4),
              'production': 'Regent Releasing',
              'rotten': 14,
              'viewer': {'meter': 55, 'numReviews': 5276, 'rating': 3.2},
              'website': 'http://www.9dollars99movie.com/'},
 'type': 'movie',
 'writers': ['Etgar Keret (screenplay)',
             'Etgar Keret (short stories)',
             'Tatia Rosenthal (screenplay)'],
 'year': 2008}
{'_id': ObjectId('573a13d9f29313caabda9ffb'),
 'awards': {'nominations': 1, 'text': '1 nomination.', 'wins': 0},
 'cast': ['Jennifer Aniston',
          'Marc Anthony',
          'Rosanna Arquette',
          'Sheryl Crow'],
 'countries': ['USA'],
 'directors': ['Kevin Mazur'],
 'fullplot': 'Celebrity photographer Kevin Mazur gives an all access pass to '
             'life behind the velvet rope and in front of the camera.',
 'genres': ['Documentary'],
 'imdb': {'id': 2258233, 'rating': 5.4, 'votes': 935},
 'languages': ['English'],
 'lastupdated': '2015-09-11 00:16:43.590000000',
 'metacritic': 53,
 'num_mflix_comments': 0,
 'plot': 'Celebrity photographer Kevin Mazur gives an all access pass to life '
         'behind the velvet rope and in front of the camera.',
 'poster': 'https://m.media-amazon.com/images/M/MV5BMjgwNzc5NTExNl5BMl5BanBnXkFtZTcwMTIxMjA4OA@@._V1_SY1000_SX677_AL_.jpg',
 'rated': 'NOT RATED',
 'released': datetime.datetime(2013, 1, 11, 0, 0),
 'runtime': 89,
 'title': '$ellebrity',
 'tomatoes': {'critic': {'meter': 57, 'numReviews': 7, 'rating': 6.2},
              'dvd': datetime.datetime(2014, 6, 23, 0, 0),
              'fresh': 4,
              'lastUpdated': datetime.datetime(2015, 9, 11, 18, 4, 14),
              'production': 'Independent Pictures',
              'rotten': 3,
              'viewer': {'meter': 53, 'numReviews': 567, 'rating': 3.3},
              'website': 'http://www.sellebritythemovie.com/'},
 'type': 'movie',
 'year': 2012}

In [34]:
#Write a MongoDB query to display 5 documents (display only title and awards) sorted by “title” using pretty format in the collection movies.

projection = {"title": 1, "awards": 1, "_id": 0}
for movie in db.movies.find({}, projection).sort("title", 1).limit(5):
    pprint.pprint(movie)

{'awards': {'nominations': 2, 'text': '2 nominations.', 'wins': 0},
 'title': '!Women Art Revolution'}
{'awards': {'nominations': 2, 'text': '2 wins & 2 nominations.', 'wins': 2},
 'title': '#chicagoGirl: The Social Network Takes on a Dictator'}
{'awards': {'nominations': 1, 'text': '1 nomination.', 'wins': 0}, 'title': '$'}
{'awards': {'nominations': 4, 'text': '3 wins & 4 nominations.', 'wins': 3},
 'title': '$9.99'}
{'awards': {'nominations': 1, 'text': '1 nomination.', 'wins': 0},
 'title': '$ellebrity'}

In [36]:
#Write a MongoDB query to display 5 documents (display only title and awards) sorted by “title” in descending order using pretty format in the collection movies.

for movie in db.movies.find({}, projection).sort("title", -1).limit(5):
    pprint.pprint(movie)

{'awards': {'nominations': 4, 'text': '1 win & 4 nominations.', 'wins': 1},
 'title': 'èxtasis'}
{'awards': {'nominations': 1, 'text': '1 nomination.', 'wins': 0},
 'title': 'èvocateur: The Morton Downey Jr. Movie'}
{'awards': {'nominations': 17, 'text': '13 wins & 17 nominations.', 'wins': 13},
 'title': 'èrido Movie'}
{'awards': {'nominations': 2, 'text': '2 nominations.', 'wins': 0},
 'title': 'èon Flux'}
{'awards': {'nominations': 2, 'text': '1 win & 2 nominations.', 'wins': 1},
 'title': 'èlisa'}

In [37]:
#Write a MongoDB query to display movies (display only title and awards) with most awards (number of awards in descending order).
for movie in db.movies.find({}, projection).sort("awards.wins", -1).limit(5): #it didn't say to limit it to 5 but my azure kept crashing so I limited to five
    pprint.pprint(movie)

{'awards': {'nominations': 256,
            'text': 'Won 3 Oscars. Another 264 wins & 256 nominations.',
            'wins': 267},
 'title': '12 Years a Slave'}
{'awards': {'nominations': 135,
            'text': 'Won 7 Oscars. Another 224 wins & 135 nominations.',
            'wins': 231},
 'title': 'Gravity'}
{'awards': {'nominations': 135,
            'text': 'Won 7 Oscars. Another 224 wins & 135 nominations.',
            'wins': 231},
 'title': 'Gravity'}
{'awards': {'nominations': 183,
            'text': 'Won 4 Oscars. Another 206 wins & 183 nominations.',
            'wins': 210},
 'title': 'Birdman: Or (The Unexpected Virtue of Ignorance)'}
{'awards': {'nominations': 161,
            'text': 'Won 1 Oscar. Another 184 wins & 161 nominations.',
            'wins': 185},
 'title': 'Boyhood'}

In [38]:
#Write a MongoDB query to display the details of the movie that won most awards
for movie in db.movies.find({}).sort("awards.wins", -1).limit(1):
    pprint.pprint(movie)

{'_id': ObjectId('573a13d5f29313caabd9cae7'),
 'awards': {'nominations': 256,
            'text': 'Won 3 Oscars. Another 264 wins & 256 nominations.',
            'wins': 267},
 'cast': ['Chiwetel Ejiofor', 'Dwight Henry', 'Dickie Gravois', 'Bryan Batt'],
 'countries': ['USA', 'UK'],
 'directors': ['Steve McQueen'],
 'fullplot': "Based on an incredible true story of one man's fight for "
             'survival and freedom. In the pre-Civil War United States, '
             'Solomon Northup (Chiwetel Ejiofor), a free black man from '
             'upstate New York, is abducted and sold into slavery. Facing '
             'cruelty (personified by a malevolent slave owner, portrayed by '
             'Michael Fassbender), as well as unexpected kindnesses, Solomon '
             'struggles not only to stay alive, but to retain his dignity. In '
             "the twelfth year of his unforgettable odyssey, Solomon's chance "
             'meeting with a Canadian abolitionist (Brad Pitt) will forever '
             'alter his life.',
 'genres': ['Biography', 'Drama', 'History'],
 'imdb': {'id': 2024544, 'rating': 8.1, 'votes': 363143},
 'languages': ['English'],
 'lastupdated': '2015-08-22 00:05:56.030000000',
 'metacritic': 97,
 'num_mflix_comments': 1,
 'plot': 'In the antebellum United States, Solomon Northup, a free black man '
         'from upstate New York, is abducted and sold into slavery.',
 'poster': 'https://m.media-amazon.com/images/M/MV5BMjExMTEzODkyN15BMl5BanBnXkFtZTcwNTU4NTc4OQ@@._V1_SY1000_SX677_AL_.jpg',
 'rated': 'R',
 'released': datetime.datetime(2013, 11, 8, 0, 0),
 'runtime': 134,
 'title': '12 Years a Slave',
 'tomatoes': {'lastUpdated': datetime.datetime(2015, 8, 22, 18, 57, 7),
              'viewer': {'numReviews': 0, 'rating': 0.0}},
 'type': 'movie',
 'writers': ['John Ridley (screenplay)',
             'Solomon Northup (based on "Twelve Years a Slave" by)'],
 'year': 2013}

In [43]:
#Write a MongoDB query to display any 5 movies with both the genres: “Adventure” and “Movie” in collection movies (use $all)
for movie in db.movies.find({"genres": {"$all": ["Adventure", "Movie"]}}).limit(5):
    pprint.pprint(movie)
db.movies.distinct("genres") #there is no genre "Movie"

['Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

In [40]:
#Write a MongoDB query to display any 5 movies with both the condition: genres “Adventure” and cast “Tom Hanks”.
for movie in db.movies.find({"$and": [{"genres": "Adventure"}, {"cast": "Tom Hanks"}]}).limit(5):
    pprint.pprint(movie)

{'_id': ObjectId('573a139af29313caabceefa7'),
 'awards': {'nominations': 38,
            'text': 'Won 2 Oscars. Another 32 wins & 38 nominations.',
            'wins': 34},
 'cast': ['Tom Hanks', 'Bill Paxton', 'Kevin Bacon', 'Gary Sinise'],
 'countries': ['USA'],
 'directors': ['Ron Howard'],
 'fullplot': 'Based on the true story of the ill-fated 13th Apollo mission '
             'bound for the moon. Astronauts Lovell, Haise and Swigert were '
             "scheduled to fly Apollo 14, but are moved up to 13. It's 1970, "
             'and America have already achieved their lunar landing goal, so '
             'there\'s little interest in this "routine" flight.. until that '
             'is, things go very wrong, and prospects of a safe return fade.',
 'genres': ['Adventure', 'Drama', 'History'],
 'imdb': {'id': 112384, 'rating': 7.6, 'votes': 193096},
 'languages': ['English'],
 'lastupdated': '2015-09-05 00:34:38.597000000',
 'metacritic': 77,
 'num_mflix_comments': 0,
 'plot': 'NASA must devise a strategy to return Apollo 13 to Earth safely '
         'after the spacecraft undergoes massive internal damage putting the '
         'lives of the three astronauts on board in jeopardy.',
 'poster': 'https://m.media-amazon.com/images/M/MV5BNjEzYjJmNzgtNDkwNy00MTQ4LTlmMWMtNzA4YjE2NjI0ZDg4XkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SY1000_SX677_AL_.jpg',
 'rated': 'PG',
 'released': datetime.datetime(1995, 6, 30, 0, 0),
 'runtime': 140,
 'title': 'Apollo 13',
 'tomatoes': {'boxOffice': '$1.1M',
              'consensus': 'In recreating the troubled space mission, Apollo '
                           "13 pulls no punches: it's a masterfully told drama "
                           'from director Ron Howard, bolstered by an ensemble '
                           'of solid performances.',
              'critic': {'meter': 95, 'numReviews': 85, 'rating': 8.2},
              'dvd': datetime.datetime(2004, 9, 7, 0, 0),
              'fresh': 81,
              'lastUpdated': datetime.datetime(2015, 9, 13, 9, 51, 48),
              'production': 'Universal Pictures',
              'rotten': 4,
              'viewer': {'meter': 86, 'numReviews': 430746, 'rating': 3.6},
              'website': 'http://www.imax.com/apollo13'},
 'type': 'movie',
 'writers': ['Jim Lovell (book)',
             'Jeffrey Kluger (book)',
             'William Broyles Jr. (screenplay)',
             'Al Reinert (screenplay)'],
 'year': 1995}
{'_id': ObjectId('573a139af29313caabcef887'),
 'awards': {'nominations': 14,
            'text': 'Nominated for 3 Oscars. Another 23 wins & 14 nominations.',
            'wins': 26},
 'cast': ['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim Varney'],
 'countries': ['USA'],
 'directors': ['John Lasseter'],
 'fullplot': 'A little boy named Andy loves to be in his room, playing with '
             'his toys, especially his doll named "Woody". But, what do the '
             'toys do when Andy is not with them, they come to life. Woody '
             'believes that he has life (as a toy) good. However, he must '
             "worry about Andy's family moving, and what Woody does not know "
             "is about Andy's birthday party. Woody does not realize that "
             "Andy's mother gave him an action figure known as Buzz Lightyear, "
             'who does not believe that he is a toy, and quickly becomes '
             "Andy's new favorite toy. Woody, who is now consumed with "
             'jealousy, tries to get rid of Buzz. Then, both Woody and Buzz '
             'are now lost. They must find a way to get back to Andy before he '
             'moves without them, but they will have to pass through a '
             'ruthless toy killer, Sid Phillips.',
 'genres': ['Animation', 'Adventure', 'Comedy'],
 'imdb': {'id': 114709, 'rating': 8.3, 'votes': 542659},
 'languages': ['English'],
 'lastupdated': '2015-08-31 00:06:17.687000000',
 'metacritic': 92,
 'num_mflix_comments': 131,
 'plot': 'A cowboy doll is profoundly threatened and jealous when a new '
         "spaceman figure supplants him as top toy in a boy's room.",
 'poster': 'https://m.media-amazon.com/images/M/MV5BMDU2ZWJlMjktMTRhMy00ZTA5LWEzNDgtYmNmZTEwZTViZWJkXkEyXkFqcGdeQXVyNDQ2OTk4MzI@._V1_SY1000_SX677_AL_.jpg',
 'rated': 'G',
 'released': datetime.datetime(1995, 11, 22, 0, 0),
 'runtime': 81,
 'title': 'Toy Story',
 'tomatoes': {'consensus': 'Entertaining as it is innovative, Toy Story '
                           'reinvigorated animation while heralding the '
                           'arrival of Pixar as a family-friendly force to be '
                           'reckoned with.',
              'critic': {'meter': 100, 'numReviews': 78, 'rating': 9.0},
              'dvd': datetime.datetime(2001, 3, 20, 0, 0),
              'fresh': 78,
              'lastUpdated': datetime.datetime(2015, 9, 12, 18, 12, 39),
              'production': 'Buena Vista',
              'rotten': 0,
              'viewer': {'meter': 92, 'numReviews': 1103788, 'rating': 3.7},
              'website': 'http://www.disney.com/ToyStory'},
 'type': 'movie',
 'writers': ['John Lasseter (original story by)',
             'Pete Docter (original story by)',
             'Andrew Stanton (original story by)',
             'Joe Ranft (original story by)',
             'Joss Whedon (screenplay)',
             'Andrew Stanton (screenplay)',
             'Joel Cohen (screenplay)',
             'Alec Sokolow (screenplay)'],
 'year': 1995}
{'_id': ObjectId('573a139af29313caabcf0d8b'),
 'awards': {'nominations': 24,
            'text': 'Nominated for 1 Oscar. Another 21 wins & 24 nominations.',
            'wins': 22},
 'cast': ['Tom Hanks', 'Tim Allen', 'Joan Cusack', 'Kelsey Grammer'],
 'countries': ['USA'],
 'directors': ['John Lasseter', 'Ash Brannon', 'Lee Unkrich'],
 'fullplot': 'While Andy is away at summer camp Woody has been toynapped by Al '
             'McWiggin, a greedy collector and proprietor of "Al\'s Toy Barn"! '
             'In this all-out rescue mission, Buzz and his friends Mr. Potato '
             'Head, Slinky Dog, Rex and Hamm springs into action to rescue '
             'Woody from winding up as a museum piece. They must find a way to '
             "save him before he gets sold in Japan forever and they'll never "
             'see him again!',
 'genres': ['Animation', 'Adventure', 'Comedy'],
 'imdb': {'id': 120363, 'rating': 7.9, 'votes': 346655},
 'languages': ['English', 'Arabic', 'Spanish'],
 'lastupdated': '2015-09-07 00:06:19.897000000',
 'metacritic': 88,
 'num_mflix_comments': 150,
 'plot': 'When Woody is stolen by a toy collector, Buzz and his friends vow to '
         'rescue him, but Woody finds the idea of immortality in a museum '
         'tempting.',
 'poster': 'https://m.media-amazon.com/images/M/MV5BMWM5ZDcxMTYtNTEyNS00MDRkLWI3YTItNThmMGExMWY4NDIwXkEyXkFqcGdeQXVyNjUwNzk3NDc@._V1_SY1000_SX677_AL_.jpg',
 'rated': 'G',
 'released': datetime.datetime(1999, 11, 24, 0, 0),
 'runtime': 92,
 'title': 'Toy Story 2',
 'tomatoes': {'consensus': 'The rare sequel that arguably improves on its '
                           'predecessor, Toy Story 2 uses inventive '
                           'storytelling, gorgeous animation, and a talented '
                           'cast to deliver another rich moviegoing experience '
                           'for all ages.',
              'critic': {'meter': 100, 'numReviews': 163, 'rating': 8.6},
              'dvd': datetime.datetime(2000, 10, 17, 0, 0),
              'fresh': 163,
              'lastUpdated': datetime.datetime(2015, 9, 12, 18, 2, 14),
              'production': 'Buena Vista Pictures',
              'rotten': 0,
              'viewer': {'meter': 86, 'numReviews': 994797, 'rating': 3.5},
              'website': 'http://disney.go.com/toystory/'},
 'type': 'movie',
 'writers': ['John Lasseter (original story by)',
             'Pete Docter (original story by)',
             'Ash Brannon (original story by)',
             'Andrew Stanton (original story by)',
             'Andrew Stanton (screenplay)',
             'Rita Hsiao (screenplay)',
             'Doug Chamberlin (screenplay)',
             'Chris Webb (screenplay)'],
 'year': 1999}
{'_id': ObjectId('573a13abf29313caabd2418b'),
 'awards': {'nominations': 19,
            'text': 'Nominated for 3 Oscars. Another 5 wins & 19 nominations.',
            'wins': 8},
 'cast': ['Tom Hanks', 'Leslie Zemeckis', 'Eddie Deezen', 'Nona Gaye'],
 'countries': ['USA'],
 'directors': ['Robert Zemeckis'],
 'fullplot': 'This is the story of a young hero boy on Christmas Eve who '
             "boards on a powerful magical train that's headed to the North "
             "Pole and Santa Claus's home. What unfolds is an an adventure "
             'which follows a doubting boy, who takes an extraordinary train '
             'ride to the North Pole; during this ride, he embarks on a '
             'journey of self-discovery which shows him that the wonder of '
             'life never fades for those who believe.',
 'genres': ['Animation', 'Adventure', 'Family'],
 'imdb': {'id': 338348, 'rating': 6.6, 'votes': 107277},
 'languages': ['English'],
 'lastupdated': '2015-08-25 00:22:58.180000000',
 'metacritic': 61,
 'num_mflix_comments': 0,
 'plot': 'A young boy embarks on a magical adventure to the North Pole on the '
         'Polar Express. During his adventure he learns about friendship, '
         'bravery, and the spirit of Christmas.',
 'poster': 'https://m.media-amazon.com/images/M/MV5BMTM1NTU0NTE4MV5BMl5BanBnXkFtZTcwMTQ0MjEzMw@@._V1_SY1000_SX677_AL_.jpg',
 'rated': 'G',
 'released': datetime.datetime(2004, 11, 10, 0, 0),
 'runtime': 100,
 'title': 'The Polar Express',
 'tomatoes': {'boxOffice': '$0.5M',
              'consensus': 'Though the movie is visually stunning overall, the '
                           "animation for the human characters isn't lifelike "
                           'enough, and the story is padded.',
              'critic': {'meter': 55, 'numReviews': 199, 'rating': 6.4},
              'dvd': datetime.datetime(2005, 11, 22, 0, 0),
              'fresh': 110,
              'lastUpdated': datetime.datetime(2015, 9, 12, 17, 54, 49),
              'production': 'Warner Bros. Pictures',
              'rotten': 89,
              'viewer': {'meter': 63, 'numReviews': 240019, 'rating': 3.2},
              'website': 'http://polarexpressmovie.warnerbros.com/'},
 'type': 'movie',
 'writers': ['Chris Van Allsburg (book)',
             'Robert Zemeckis (screenplay)',
             'William Broyles Jr. (screenplay)'],
 'year': 2004}
{'_id': ObjectId('573a13b2f29313caabd3ac0d'),
 'awards': {'nominations': 81,
            'text': 'Won 2 Oscars. Another 61 wins & 81 nominations.',
            'wins': 63},
 'cast': ['Tom Hanks', 'Tim Allen', 'Joan Cusack', 'Ned Beatty'],
 'countries': ['USA'],
 'directors': ['Lee Unkrich'],
 'fullplot': 'Woody, Buzz and the whole gang are back. As their owner Andy '
             'prepares to depart for college, his loyal toys find themselves '
             'in daycare where untamed tots with their sticky little fingers '
             "do not play nice. So, it's all for one and one for all as they "
             "join Barbie's counterpart Ken, a thespian hedgehog named Mr. "
             'Pricklepants and a pink, strawberry-scented teddy bear called '
             "Lots-o'-Huggin' Bear to plan their great escape.",
 'genres': ['Animation', 'Adventure', 'Comedy'],
 'imdb': {'id': 435761, 'rating': 8.4, 'votes': 474122},
 'languages': ['English', 'Spanish'],
 'lastupdated': '2015-08-22 00:01:13.297000000',
 'metacritic': 92,
 'num_mflix_comments': 0,
 'plot': 'The toys are mistakenly delivered to a day-care center instead of '
         "the attic right before Andy leaves for college, and it's up to Woody "
         "to convince the other toys that they weren't abandoned and to return "
         'home.',
 'poster': 'https://m.media-amazon.com/images/M/MV5BMTgxOTY4Mjc0MF5BMl5BanBnXkFtZTcwNTA4MDQyMw@@._V1_SY1000_SX677_AL_.jpg',
 'rated': 'G',
 'released': datetime.datetime(2010, 6, 18, 0, 0),
 'runtime': 103,
 'title': 'Toy Story 3',
 'tomatoes': {'boxOffice': '$415.0M',
              'consensus': 'Deftly blending comedy, adventure, and honest '
                           'emotion, Toy Story 3 is a rare second sequel that '
                           'really works.',
              'critic': {'meter': 99, 'numReviews': 287, 'rating': 8.9},
              'dvd': datetime.datetime(2010, 11, 2, 0, 0),
              'fresh': 283,
              'lastUpdated': datetime.datetime(2015, 9, 12, 18, 4, 37),
              'production': 'Walt Disney Pictures',
              'rotten': 4,
              'viewer': {'meter': 89, 'numReviews': 601167, 'rating': 4.3},
              'website': 'http://www.disney.com/ToyStory'},
 'type': 'movie',
 'writers': ['John Lasseter (story)',
             'Andrew Stanton (story)',
             'Lee Unkrich (story)',
             'Michael Arndt (screenplay)'],
 'year': 2010}

In [50]:
#Write a MongoDB query to display average number of awards won by a movie (use aggregate function with $avg operator).


df = pd.DataFrame(list(
    db.movies.aggregate([
        {"$group": {"_id": None, "averageAwards": {"$avg": "$awards.wins"}}},
        {"$project": {"_id": 0, "averageAwards": 1}}
    ])
))

df

   averageAwards
0       4.111347

In [51]:
#Write a MongoDB query to display most awards won by a movie (use aggregate function with $max operator). Comments Collection General Queries
df = pd.DataFrame(list(
    db.movies.aggregate([
        {"$group": {"_id": None, "mostAwardsWon": {"$max": "$awards.wins"}}},
        {"$project": {"_id": 0, "mostAwardsWon": 1}}
    ])
))

df

   mostAwardsWon
0            267

In [52]:
#Write a MongoDB query to display the total number of documents in the collection movies.
df = pd.DataFrame(list(
    db.movies.aggregate([
        {"$group": {"_id": None, "totalDocuments": {"$sum": 1}}},
        {"$project": {"_id": 0, "totalDocuments": 1}}
    ])
))

df

   totalDocuments
0           23530

In [ ]:
#Write a MongoDB query to display the total number of users by name (use db.collection.distinct(field, query, options) and length) in the collection movies.
df = pd.DataFrame(list(
    db.movies.aggregate([
        {"$group": {"_id": None, "totalDocuments": {"$sum": 1}}},
        {"$project": {"_id": 0, "totalDocuments": 1}}
    ])
))

df

In [56]:
#Write a MongoDB query to display any 5 documents using pretty format in the collection comments.
df = pd.DataFrame(list(
    db.comments.aggregate([
        {"$limit": 5}
    ])
))

df

,_id,name,email,movie_id,text,date
0,5a9427648b0beebeb6957b89,Lisa Rasmussen,lisa_rasmussen@fakegmail.com,573a1391f29313caabcd82da,Illo nihil occaecati minima facere ea nemo. Mo...,1976-12-18 08:14:46
1,5a9427648b0beebeb6957be1,Olly,brenock_o'connor@gameofthron.es,573a1391f29313caabcd89aa,Nesciunt pariatur illo officia provident ullam...,1995-05-19 11:30:22
2,5a9427648b0beebeb6957be8,Maester Luwin,donald_sumpter@gameofthron.es,573a1391f29313caabcd8a75,Vero tempore impedit molestias. Incidunt qui l...,1997-05-07 13:52:26
3,5a9427648b0beebeb6957c04,Daenerys Targaryen,emilia_clarke@gameofthron.es,573a1391f29313caabcd8cbd,Quia vitae ducimus nobis minima asperiores inc...,1984-12-21 14:17:47
4,5a9427648b0beebeb6957d6d,Ronald Cox,ronald_cox@fakegmail.com,573a1392f29313caabcd99e3,Aspernatur maiores delectus dicta vel sint fac...,1970-03-15 16:19:13

In [54]:
#Write a MongoDB query to display 5 documents sorted by name using pretty format in the collection comments.
df = pd.DataFrame(list(
    db.comments.aggregate([
        {"$sort": {"name": 1}},
        {"$limit": 5}
    ])
))

df

,_id,name,email,movie_id,text,date
0,5a9427648b0beebeb6962c73,Aaron Church,aaron_church@fakegmail.com,573a139af29313caabcf0d74,Molestiae voluptatum nobis totam velit et tene...,2014-04-03 14:39:58
1,5a9427648b0beebeb6962c72,Aaron Church,aaron_church@fakegmail.com,573a139af29313caabcf0d74,Nemo non et repudiandae eius accusamus. Tempor...,1985-06-08 06:11:05
2,5a9427648b0beebeb695811d,Alliser Thorne,owen_teale@gameofthron.es,573a1392f29313caabcdb7b9,Quos quia quos molestiae architecto laudantium...,2014-04-28 03:29:53
3,5a9427648b0beebeb6958460,Alliser Thorne,owen_teale@gameofthron.es,573a1393f29313caabcdc536,Minima ratione tempora cumque repellat reicien...,2000-07-29 01:24:12
4,5a9427648b0beebeb6958099,Alliser Thorne,owen_teale@gameofthron.es,573a1392f29313caabcdb2dc,Rerum atque praesentium totam cumque veniam. V...,2009-10-18 09:32:47

In [57]:
#Write a MongoDB query to display 5 latest comments (documents sorted by date in descending order) from "Megan Richards" using pretty format in the collection comments.
df = pd.DataFrame(list(
    db.comments.aggregate([
        {"$match": {"name": "Megan Richards"}},
        {"$sort": {"name": -1}},
        {"$limit": 5}
    ])
))

df

,_id,name,email,movie_id,text,date
0,5a9427648b0beebeb6958ade,Megan Richards,megan_richards@fakegmail.com,573a1394f29313caabcde63e,Maxime quis similique molestiae animi tempore....,1981-07-27 17:46:55
1,5a9427648b0beebeb695960e,Megan Richards,megan_richards@fakegmail.com,573a1395f29313caabce11fb,Est eveniet unde ut quis sed labore recusandae...,2007-01-09 09:28:18
2,5a9427648b0beebeb6958757,Megan Richards,megan_richards@fakegmail.com,573a1393f29313caabcdd800,Rem perferendis praesentium magnam voluptatum....,2012-07-25 00:05:37
3,5a9427648b0beebeb69582be,Megan Richards,megan_richards@fakegmail.com,573a1393f29313caabcdbe7c,Omnis officia eum doloribus reiciendis. Quas m...,1991-12-30 00:35:27
4,5a9427648b0beebeb6958966,Megan Richards,megan_richards@fakegmail.com,573a1393f29313caabcde309,Eligendi cum recusandae explicabo libero. Ab c...,2010-07-21 03:38:56